/* common style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
/* header related style */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 500px;
}

.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #fd6e0a;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 700;
}
/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-pic{
    width: 300px;
}
.banner-greeting{
    font-size: 40px;
    color: #474747;
    margin-bottom: 2px;
}
.banner-title{
    font-size: 80px;
    font-weight: 700;
    margin-top: 3px;
    margin-bottom: 5px;
}
.banner-contant{
    max-width: 500px;
    
}
.banner-description{
    margin-top: 5px;
}

/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/* about style */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
    border: 1px solid gray;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    border: 1px solid gray;
}
.about-info{
    text-align: center;
    margin: 20px;
    border: 1px solid gray;
}
/* skills related style */
#what-i-do-description{
    border: 1px solid gray;
    padding: 30px 150px;
}
.skills-container{
    display: flex;
    gap: 20px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}
.skill-description{
    color: #757575;
}
.resume-colum-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}